defaults
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s

frontend myfrontend
  bind :80
  default_backend myservers

backend myservers
  balance roundrobin
  server web1 10.0.0.4:80
  server web2 10.0.0.5:80
